html {
    height: 100%;
    
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    padding-bottom: 50px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height: 780px;
    width: 100%;
    margin-top: -20px;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centered {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.layoutRoot {
    
    padding: 20px;
    background-color: #EEE;
   
}

#canvas{
    float:left;
    border:1px solid #d3d3d3;
}


#data{
    font-size: 14px;
    float:left;
    margin-left: 10px;
    
}

#data p{
    font-size: 16px;
    font-weight: 800;
}

li{
    list-style-type: none;
    margin-bottom:5px;
}
ul{
    padding: 0px;
    margin-left: 20px;
}



/* Canvas Board */
.board {
    width: 100%;
    height: 450px;
    background-color: limegreen;
}