@{
    ViewBag.Title = "SignalMan Web App";
}

<div  class="layoutRoot centered">
            <h2>Information</h2>
            <canvas id="canvas" width="928" height="608" style=""></canvas>
            <div id="data">
                <p>Remaines: <span id="dots"></span></p>
                <ul id="list"></ul>
            </div>
    <script src="~/Scripts/SignalManScripts/app.js"></script>
</div>