@{
    ViewBag.Title = "SignalMan Web App";
}

<div  class="layoutRoot centered">
            <h2>Game Id: <span id="gameId" /><a id="reset" href="#">Reset</a></h2>
            <canvas id="canvas" width="928" height="608" style=""></canvas>
            <div id="data">
                <p>Remaines: <span id="dots" /></p>
                <ul id="list"/>
            </div>

    <script src="~/Scripts/SignalManScripts/app.js"></script>
    <script src="~/Scripts/SignalManScripts/signalr.js"></script>
</div>