@{
    ViewBag.Title = "SignalMan Web App";
}

<div  class="layoutRoot centered">
            <h2>Game Id: <span id="gameId" /><a id="reset" href="#">Reset</a></h2>
            <canvas id="canvas" width="928" height="608" style=""></canvas>
            <div id="data">
                <p>Remaines: <span id="dots" /></p>
                <ul id="list"/>
            </div>
    <img hidden src="~/tiles/dot.png" />
    <img hidden src="~/tiles/empty.png" />
    <img hidden src="~/tiles/wall.png" />
    <img hidden src="~/tiles/man1.png" />
    <img hidden src="~/tiles/man2.png" />
    <img hidden src="~/tiles/man3.png" />
    <img hidden src="~/tiles/man4.png" />
    <img hidden src="~/tiles/man5.png" />
    <img hidden src="~/tiles/man6.png" />
    <img hidden src="~/tiles/man7.png" />
    <img hidden src="~/tiles/man8.png" />
    <img hidden src="~/tiles/man9.png" />
    <img hidden src="~/tiles/man10.png" />
    <img hidden src="~/tiles/man11.png" />
    <img hidden src="~/tiles/man12.png" />
    <img hidden src="~/tiles/man13.png" />
    <img hidden src="~/tiles/man14.png" />
    <img hidden src="~/tiles/man15.png" />
    <img hidden src="~/tiles/man16.png" />
    <script src="~/Scripts/SignalManScripts/app.js"></script>
    <script src="~/Scripts/SignalManScripts/signalr.js"></script>
</div>